#results{
  margin-top: 2em;
  cursor: default;
}

form label{
  display: inline-block;
  width: 30%;
}

h4{
  color: #1db954;
  font-weight: bold;
}

.card{
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  border: none;
}

.card:hover{
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

#results h3{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fffaff;
}

#results img{
  max-height: 286px;
  min-height: 286px;
  object-fit: cover;  
  border-radius: 100%;
  padding: 20px;
}

.txt{
  width: 100%;
  display: flex;
}

.popu{
  color: #1db954;
  font-weight: 500;
  padding: 1%;
  margin: auto;
}

.artistLink{
  margin: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #1db954;
  text-align: center;
  height: 45px;
  width: 135px;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  vertical-align: bottom;
  line-height: 50px;
  opacity: 0;
}

@keyframes a1 {
  from {opacity: 0}
  to {opacity: 1}
}

.card:hover > .artistLink{
  animation: a1 .75s;
  opacity: 100%;
}

.artistLink:hover{
  color: white;
  font-weight: bold;
  transform: scale(1.05);
}

#help, #help2{
  display: none;
}

#artistNameH1{
  font-size: 82px;
  font-weight: 800;
  color: #fffaff;
  
}

#artistType{
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  color: lightslategray;
  text-transform: capitalize;
  margin-top: 10px;
}

#lastAlbum{
  font-size: 45px;
  font-weight: 900;
  font-style: italic;
  color: #1db954;
  text-transform: capitalize;
  margin-top: 10px;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h6{
  font-style: italic;
  color: #fffaff;
  margin-top: -5px;
  margin-left: 50px;
}

#releaseDate{
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  color: lightslategray;
  margin-top: 20px;
}

#totalTracks{
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: lightgray;
  margin-top: 20px;
}

#moreAlbums{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.albums{
  width: 230px;
  height: max-content;
}

.albums h3{
  color: #fffaff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  margin-left: -10px;
}

.albums img{
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  padding: 10px 5px 5px 5px; 
}

#detailedArtist{
  display: none;
}

.songDiv{
  padding: 5px;
  transform: scale(.85);
}

.songDiv:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.songName{
  font-size: 18px;
  padding-top: 3px;
  font-weight: bold;
}
.songArtist{
  font-size: 18px;
  padding-bottom: 5px;
  color: lightgray;
}

.songDuration{
  padding-top: 3px;
  text-align: center;
  color: lightgray;
}

.albumTrackList{
  background-color: rgba(0, 0, 0, 0.281);
  margin-top: 10px;
  width: 80vw;
  height: 80px;
  border-radius: 3px;
}

.albumTrackList img{
  max-height: 80px;
  min-height: 80px;
  object-fit: cover;
  padding: 7px; 
  border-radius: 3px;
}

.albumTrackList .songName{
 padding-top: 10px;
 margin-left: -25px;
}

.albumTrackList .songArtist{
margin-top: -5px;
margin-left: -25px;
font-size: 15px;
}

.albumTrackList:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
